/* 
    Created on : 20-Feb-2016, 23:27:15
    Author     : Haris
*/
*{font-family:'Roboto',sans-serif}.navbar.navbar-inverse{background:#282828}.navbar .navbar-brand{padding:10px 0;height:76px;margin:0!important}.navbar .navbar-brand #snapelp-logo{max-width:148px;height:auto}.navbar ul.navbar-nav li.active a,.navbar ul.navbar-nav li.active a:hover{background:0}.navbar ul.navbar-nav li a{font-size:15px;padding:24px 17px;color:#9f9f9f}.navbar ul.navbar-nav li a.signin{display:flex;vertical-align:middle}.navbar ul.navbar-nav li a.signin:after{background-image:url('../img/signin-icon.png');background-size:24px 28px;background-position:center bottom;display:inline-block;width:24px;height:28px;margin-left:3px;content:""}.navbar ul.navbar-nav li.notfn{color:#fff}