/* 
    Created on : 20-Feb-2016, 23:27:15
    Author     : Haris
*/
@blackColor: #282828;
@navColor:#9f9f9f;
*{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    &.navbar-inverse{
        background: @blackColor;
    }
    .navbar-brand{
        #snapelp-logo{
            max-width: 148px;
            height: auto;
        }
        padding: 10px 0;
        height: 76px;
        margin: 0 !important;
    }
    ul{
        &.navbar-nav{
            li{
                &.active{
                    a,a:hover{
                        background: none;
                    }
                }
                a{
                    font-size: 15px;
                    padding: 24px 17px;
                    color: @navColor;
                    &.signin{
                        &:after{
                            background-image: url('../img/signin-icon.png');
                            background-size: 24px 28px;
                            background-position: center bottom;
                            display: inline-block;
                            width: 24px; 
                            height: 28px;
                            margin-left: 3px;
                            content:"";
                        }
                        display: flex;
                        vertical-align: middle;
                    }
                }
                &.notfn{
                    color: #fff;
                }
            }
        }
    }
}
