@blueColor: #0094d9;
body {
    font-family: roboto;
    background-color: #f0f0f0;
}
.jumbotron {
    padding: 79px 0 20px;
    @media (max-width: 767px) {
        margin-bottom: 40px;
        margin-top: -8px;
        padding: 0 0 20px;
    }
}

.col{
    display: table-cell;
    vertical-align: middle;
}
a{
    outline: none;
}
.blueColor{
    color: @blueColor;
}
.fontopensans{
    font-family: 'Open Sans', sans-serif;
}
.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
.container {
    padding-left: 50px;
    padding-right: 50px;
    @media (max-width: 1199px) {
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
    }
    @media (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.container > .navbar-header, 
.container-fluid > .navbar-header,
.container > .navbar-collapse, 
.container-fluid > .navbar-collapse {
    @media (max-width: 767px) {
        margin-left: 0;
        margin-right: 0;
    }
}
.btn-primary {
    background: #0094d9 none repeat scroll 0 0;
    border: medium none;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 16px;
    @media (max-width: 991px) {
        font-size: 13px;
        line-height: 27px;
        padding: 0 10px;
    }
}


/*  LOGO*/
.navbar-brand {
    float: left;
    font-size: 18px;
    height: auto;
    line-height: normal;
    margin: 10px 0 0 0 !important;
    max-width: 150px;
    padding: 0;
    @media (max-width: 991px) {
        margin: 21px 0 0 !important;
        max-width: 110px;
    }
    @media (max-width: 767px) {
        margin: 10px 0 !important;
    }
}

/*  MENU*/
.navbar-inverse {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none; 

    .navbar-nav {
        >li{
            >a{
                color: #9d9d9d;
                font-size: 15px;
                padding: 23px 18px;
                @media (max-width: 991px) {
                    padding: 23px 10px;
                }
                @media (max-width: 767px) {
                    padding: 10px !important;
                }
            }
            &.active{
                a,a:hover,a:focus{
                    background: none !important;
                    box-shadow: none;
                }
            }        
            &.open{
                a{
                    background: none !important;
                    box-shadow: none;
                }
            }
        }
    }
    .nav {
        >li{
            >a{
                img{

                    border-radius: 100px;
                    display: inline-block;
                    height: 32px;
                    /*margin-left: 10px;*/
                    max-width: none;
                    vertical-align: middle;
                    width: 32px; 
                }
            }
        }
    }
    .main-menu{
        >li{
            >a{
                padding: 28px 18px !important;
                @media (max-width: 1199px) {
                    padding: 28px 8px !important;
                }
            }
        }
    }
}
.navbar-fixed-top, .navbar-fixed-bottom {
    @media (max-width: 767px) {
        position: relative;
    }
    z-index: 9999;
}
.navbar-bg {
    background: #282828 none repeat scroll 0 0;
}

.navbar-toggle {
    @media (max-width: 767px) {
        margin-right: 0;
        margin-top: 11px;
    }
}
.navbar{
    @media (max-width: 767px) {            
        margin-bottom: 0;
    }
}
.navbar-right {
    float: right !important;
    margin-left: 10px;
    margin-right: 0;
    @media (max-width: 1199px) {
        margin-left: 0;
    }
    @media (max-width: 991px) {
        margin-left: 12px;
    }
    @media (max-width: 767px) {
        float: none !important;
        margin-left: 0;
        margin-right: 0;
    }
}

/*  SEARCH*/
.navbar-form {
    margin: 22px 18px;
    padding: 0;
    position: relative;    
    .form-group {
        @media (max-width: 767px) {
            margin: 10px auto;
        }
    }
    .form-control {
        max-width: 100%;
        padding-left: 52px;
        width: 334px;
        @media (max-width: 991px) {
            max-width: 100%;
            width: 260px;
        }
        @media (max-width: 767px) {
            max-width: 100%;
            width: 100%;
        }
    }
    .search-btn {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        left: 12px;
        padding: 0;
        position: absolute;
        top: 7px;
        @media (max-width: 767px) {
            top: 16px;
        }
    }
}
.navbar-inverse .dropdown.notfn{
    &>a{
        font-size: 24px;
        line-height: 31px;
    }
}
.navbar-inverse{
    .dropdown-menu.notfn-panel{
        min-width: 390px;
        padding: 0;
        background: #282828;
        /*        max-height: 300px;
                overflow-y: scroll;*/        
        li{
            padding: 8px 0 8px 0;
            margin: 0 25px;
            border-bottom: 1px solid #4b4b4b;
            color: #dddddd;
            &:last-child{
                border-bottom: none;
            }
            .col1{
                display: table-cell;
                vertical-align: middle;
                width:10%;
                img{
                    max-width: 35px;
                    border-radius: 50%;
                }
            }
            .col2{
                display: table-cell;
                width:80%;
                box-sizing: border-box;
                padding: 0 15px;
                font-size: 12px;
                vertical-align: middle;
                .new-followers{
                    img{
                        border-radius: 2px;
                        margin-right: 5px;
                        max-width: 21px;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                    margin-bottom: 5px;
                }

            }
            .col3{
                display: table-cell;
                vertical-align: middle;
                width:10%;
                .new-follow{
                    border: 1px solid #dddddd;
                    text-align: center;
                    border-radius: 2px;
                    padding: 3px 2px;
                }
                .photo-comment{
                    border-radius: 2px;
                    img{
                        border-radius: 2px;
                        max-width: 40px;
                    }
                }
                .followed{
                    background: #0094d9;
                    border-radius: 2px;
                    text-align: center;
                    padding: 3px 2px;
                }
            }
        }
    }
}

.navbar-inverse{
    .dropdown-menu.signedin-panel{
        background: #282828;
        li{
            padding: 8px 0 8px 0;
            margin: 0 13px;
            border-bottom: 1px solid #4b4b4b;
            color: #dddddd;
            font-size: 12px;
            &:last-child{
                border-bottom: none;
            }
            a{
                padding: 0;
                color: #dddddd;
                span{
                    font-size: 9px;
                    margin-right: 10px;
                }
            }
            .btn{
                border: 1px solid #f48120;
                background: none;
                color: #eceaea;
            }
        }
    }
}

/*  SORT AREA*/
.sort-area {
    background: rgba(255,255,255,.9);
    .sort-by{
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        margin-right: 34px;
        @media (max-width: 767px) {
            margin-right: 12px;
        }
    }
    .sort-link {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        li {
            float: left;
            padding: 18px 0;
            &.active{
                a{
                    text-decoration: none;
                    color: #0489c8;
                    &:after{
                        background-color: #f48120;
                        bottom: -10px;
                        content: "";
                        height: 1px;
                        left: 38px;
                        position: absolute;
                        right: 0;
                    }
                }
            }
            &:first-child {
                a{
                    padding: 0;
                }
                &.active{
                    a{
                        &:after{
                            left: 0;
                        }
                    }
                }
            }
            a {
                color: #555555;
                font-size: 15px;
                padding: 0 0 0 34px;
                position: relative;
                cursor: pointer;
                @media (max-width: 991px) {
                    font-size: 13px;
                    padding: 0 0 0 18px;
                }
                @media (max-width: 767px) {
                    font-size: 12px;
                    padding: 0 0 0 12px;
                }
                &:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -10px;
                    height: 1px;
                    background-color: #dadada;
                    content: "";
                }
                &:hover{
                    text-decoration: none;
                    color: #0489c8;
                }
            }
        }
    }
}

.disc-sort-area {
    background: rgba(255,255,255,.9);
    .sort-by{
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        margin-right: 34px;
        @media (max-width: 767px) {
            margin-right: 12px;
        }
    }
    .disc-sort-link {
        display: inline-block;
        vertical-align: middle;
        margin: 0;

        &>li{                
            float: left;
            padding: 18px 0;            
            &:first-child {
                a{
                    padding: 0;
                }
                &.active{
                    a{
                        &:after{
                            left: 0;
                        }
                    }
                }
            }
        }
        li {
            &.active{
                a{
                    text-decoration: none;
                    color: #0489c8;
                    /*                    &:after{
                                            background-color: #f48120;
                                            bottom: -10px;
                                            content: "";
                                            height: 1px;
                                            left: 38px;
                                            position: absolute;
                                            right: 0;
                                        }*/
                }
            }
            a {
                color: #555555;
                font-size: 15px;
                padding: 0 0 0 34px;
                position: relative;
                cursor: pointer;
                @media (max-width: 991px) {
                    font-size: 13px;
                    padding: 0 0 0 18px;
                }
                @media (max-width: 767px) {
                    font-size: 12px;
                    padding: 0 0 0 12px;
                }
                &:before {
                    /*                    position: absolute;
                                        left: 0;
                                        right: 0;
                                        bottom: -10px;
                                        height: 1px;
                                        background-color: #dadada;
                                        content: "";*/
                }
                &:hover{
                    text-decoration: none;
                    color: #0489c8;
                }
            }
        }
    }
}

/*Modal styles*/
#sign-in-modal.modal,
#sign-up-modal.modal{
    text-align: center;
    padding: 0!important;
    &:before{        
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    #snapelp-logo{
        max-width: 148px;
    }
    .modal-header{
        text-align: center;
        border: 0 none;
        .modal-padding;
        padding-bottom: 30px;
        h2{
            font-size: 28px;
            color: #5a5959;
            font-weight: 300;
        }
    }
    .modal-body{
        .modal-padding;
        padding-top:0;
        padding-bottom:0;
        .form-group{ 
            position: relative;
            &:before{
                position: absolute;
                left: 0;
                right: 0;
                bottom: -5px;
                height: 1px;
                background-color: #dadada;
                content: "";
            }
        }
        input.form-control{
            border: 0 none;
            box-shadow: none;
            padding-left:0;
            padding-right:0;
            color: #6a6a6a;
            font-size: 18px;
            font-weight: 300;
            &:focus{
                box-shadow: none;
            }
        }
        .btn{
            background: #0094d9;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            .fontopensans;
            padding: 10px 60px;
            margin-top: 35px;
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            color: #6a6a6a;            
            a{
                color: #f48120;
                text-decoration:none;
                &:hover{
                    color: #f48120;
                }
            }
        }
    }
    .modal-footer{
        .modal-padding;
        padding-bottom:0;
        padding-top:30px;
        border: 0 none;
    }
    .modal-padding{
        padding: 60px 65px 50px;
    }
}

/*  UPLOAD AREA*/
.upload-area {
    display: inline-block;
    vertical-align: middle;
    float: right;
    position: relative;
    top: 7px;
    margin: 0 170px 0 0;
    @media (max-width: 991px) {
        margin: 0 0 0 25px;
    }
    @media (max-width: 767px) {
        display: block;
        margin: 0 0 10px;
    }
    p {
        color: #7d7d7d;
        display: inline-block;
        font-size: 24px;
        font-weight: 300;
        margin: 8px 0 0 0;
        vertical-align: middle;
        @media (max-width: 991px) {
            font-size: 17px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    .btn{
        background: url('../img/upload-btn.png') no-repeat;
        background-size: cover;
        width: 61px;
        height: 61px;
        position: relative;
        top: 15px;
        box-shadow: none;
    }
}

#upload-modal.modal{
    text-align: center;
    padding: 0 !important;
    &:before{        
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: 80%;
        background: #efefef;
    }
    .modal-header{
        text-align: center;
        border: 0 none;
        padding: 65px 0 65px 0;
        padding-bottom: 30px;
        h2{
            font-size: 28px;
            color: #5a5959;
            font-weight: 300;
        }
    }
    .modal-content{
        background: none;
    }
    .modal-body{
        padding: 36px 0 36px 0;
        .container{
            padding-left: 23px;
            padding-right: 23px;
        }
        .form-group{ 
            position: relative;
            /*            &:before{
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -5px;
                            height: 1px;
                            background-color: #dadada;
                            content: "";
                        }*/
        }
        input.form-control{
            border: 0 none;
            box-shadow: none;
            padding-left:0;
            padding-right:0;
            color: #6a6a6a;
            font-size: 18px;
            font-weight: 300;
            &:focus{
                box-shadow: none;
            }
        }
        .btn{
            background: #0094d9;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            .fontopensans;
            padding: 10px 60px;
            margin-top: 35px;
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            color: #6a6a6a;            
            a{
                color: #f48120;
                text-decoration:none;
                &:hover{
                    color: #f48120;
                }
            }
        }
        .dropzone{
            border: 2px dashed #bdbdbd;
            border-radius: 10px;
            background: none;
        }
        .dz-message{
            margin: 8em 0;
            color: #8d8d8d;
            .span1{
                font-size: 36px;
            }
            .span2{
                font-size: 16px;
            }
            .span3{
                font-size: 9px;
            }
            .span4{
                background: #f48120;
                font-size: 18px;
                border: 3px solid #fff;
                border-radius: 10px;
                color: #fff;
                padding: 22px 60px;
                display: inline-block;
            }
        }
        .span5{
            color: #787878;
            font-size: 15px;
        }
        .span6{
            color: #a3a3a3;
            font-size: 15px;
        }
        textarea{
            resize: none;
            border: 0 none;
            height: 300px;
            margin-top: 5px;
            color: #8a8a8a;
            font-size: 14px;
            font-weight: 300;
        }
        .dz-preview{
            height: 55px;
            position: relative;
            background: #fff;
            border-radius: 10px;
            margin: 10px 0;
            padding: 0 10px;
            .file-remove-icon{
                max-width: 15px;
                position: absolute;
                top: 40%;
                right: 10px;
                cursor: pointer;
            }
            .dz-filename{
                display: inline-block;
                padding: 18px;
                width: 100%;
                .file-name{
                    font-size: 10px;
                    text-transform: uppercase;
                    color: #8d8d8d;
                }
                .percent{
                    color: #8d8d8d;
                    font-size: 10px;
                }
            }
            .dz-progress {
                position: relative;
                .dz-upload { 
                    background-color: #0094d9;
                    bottom: 10px;
                    height: 2px;
                    position: absolute;
                }
            }
        }
        #preview-zone{
            .no-prev-files{
                margin: 11em 0;
                color: #8d8d8d;
                font-size: 16px;
                font-weight: 300;
            }
            .files-uploading{
                display: none;
                color: #8d8d8d;
                font-size: 16px;
                font-weight: 300;
            }
        }
        button[type='reset']{
            background: #787878;
            border: 3px solid #fff;
            border-radius: 10px;
            color: #fff;
            padding: 20px 40px;
            font-size: 18px;
            margin-right: 5px;
        }
        button[type='submit']{
            background: #0094d9;
            border: 3px solid #fff;
            border-radius: 10px;
            color: #fff;
            padding: 20px 40px;
            font-size: 18px;
        }
    }
    .modal-footer{
        padding: 0;
        border: 0 none;
    }
    #crop-wrapper{
        position: relative;
        img{
            border-radius: 10px;
        }
        .crop-btns-wrap{
            position: absolute;
            bottom: 0;
            height: 50px;
            left: 0;
            right: 0;
            background: rgba(0,0,0, 0.3);
            button{
                background: none;
                color: #fff;
                border: 0 none;
                width: 45%;
                font-size: 18px;
                padding-top: 15px;
                padding-bottom: 15px;
                img{
                    max-width: 25px;
                }
            }
        }
    }
}

/*  POST PANEL*/
.post-panel {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
    position: relative;    
    .post-image {
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .panel-content {
        background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
        bottom: 0;
        box-sizing: border-box;
        padding: 5px 10px 12px 10px;
        position: absolute;
        width: 100%;
        h2 {
            margin: 0 0 12px 0;
            font-size: 12px;
            color: #414141;
            font-weight: 400;
        }
        .post-share {
            li{
                display: inline-block;
                margin-right: 20px;
                font-size: 12px;
                color: #686868;
                i {
                    display: inline-block;
                    font-size: 16px;
                    margin-right: 5px;
                    margin-top: -4px;
                    vertical-align: middle;
                }
            }
        }
    }
}


/*  GRID*/
.posts-grid {
    margin: 0 3px;
}
.grid-sizer,
.grid-item { 
    width: 25%;
    padding: 0 4px 12px;
    @media (min-width: 1600px) {
        width: 25%;
    }
    @media (max-width: 991px) {
        width: 33.33%;
    }
    @media (max-width: 767px) {
        width: 50%;
    }
    @media (max-width: 479px) {
        width: 100%;
    }
}

/*  MAIN FOOTER*/
.main-footer {
    background-color: rgba(53, 53, 53, 0.95);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    padding: 12px 0;
    z-index: 9999;
    .site-map {
        margin: 0;
        @media (max-width: 767px) {
            float: none !important;
            text-align: center;
        }
        li {
            display: inline-block;
            margin-right: 10px;
            a{
                color: #efefef;
                font-size: 12px;
                &:hover,&:focus,&:active{
                    text-decoration: none;
                    color: #0489c8;
                }
            }
        }
    }    
    .copyright {
        margin: 0;
        font-size: 12px;
        color: #efefef;
        @media (max-width: 767px) {
            float: none !important;
            text-align: center;
        }
    }
}

#disc-profile-wrap{
    padding-top: 160px;
    background: #282828;
    @media (max-width: 767px) {
        padding-top: 20px;
    }
    .count-wrap{
        font-size: 14px;
        color: #e8e6e6;
        margin-top: 6px;
        margin-left: 14px;
        span{                           
            margin-right: 25px;
            i{ 
                margin-right: 3px;
            }
            &:hover{
                .fa{
                    color: #0094d9;
                    cursor: pointer;
                }
            }
        }
        .fa-star{
            color: #0094d9;
        }
    }
    .total-photos{
        font-size: 14px;
        color: #686868;
        float: left;
        padding-top: 5px;
    }
    .carousel-inner{
        .item{
            .enlarge{
                position: absolute;
                right: 10px;
                top:10px;
                display: none;
            }
            &:hover{
                .enlarge{
                    display: block;
                    cursor: pointer;
                    max-width: 15px;
                    img{                        
                        max-width: 15px;
                    }
                }
            }
        }
    }
    .user-det-wrap{
        .user-img{
            img{
                max-width: 65px;
            }
        }
        .name-wrap{
            padding-left: 16px;
            padding-right: 30px;
            .name{
                color: #e8e6e6;
                font-size: 18px;
                /*line-height: 18px;*/
            }
            .join-date{
                color: #e8e6e6;
                font-size: 11px;
                font-weight: 300;
            } 
        }
        .new-follow{
            border: 1px solid #0094d9;
            text-align: center;
            border-radius: 2px;
            padding: 7px 11px;
            color: #e8e6e6;
            font-size: 13px;
            font-weight: 300;
        }
    }
    .post-wrap{
        color: #e8e6e6;
        .post-title{
            font-size: 24px;
            margin-top: 25px;
            margin-bottom: 1px;
            font-weight: 400;
        }
        .post-date{
            font-size: 12px;
            margin-bottom: 20px;
        }
        p{
            font-size: 13px;
            font-weight: 300;
        }
    }
    .comment-form-wrap{
        margin-top:30px;
        margin-bottom: 20px;
        &>div{
            display: table-cell;
            vertical-align: top;
        }
        .comment-poster{
            /*max*/
            img{
                max-width: 36px;                
                margin-right:18px;
            }
        }

        .signin-txt{
            color: #ffffff;
            font-size: 11px;
            background: #535353;
            border: 1px solid @blueColor;
            border-radius: 50%;
            padding: 50px 0;
            width: 180px;
            margin-bottom: 15px;
            a{
                text-decoration: none;
                color: #fff;
                &:hover{
                    color: #fff;
                }
            }
        }
        .signup-txt{
            color: #727272;
            font-size: 13px;
            font-weight: 300;
            margin-bottom: 25px;
            a{
                text-decoration: none;
                color: @blueColor;
                &:hover{
                    color: @blueColor;
                }
            }
        }
        .comment-form{
            width:100%;
            background: #fff;
            .form-control{
                border: 0 none;
                box-shadow: none;
            }
            .form-group{
                margin-bottom: 0;                
            }
            textarea{
                min-height: 120px;
                position:relative;
                resize: none;
            }
            .comment-text{                
                position:relative;
                &:after{
                    background: url('../img/discussion/triangle1.png') no-repeat;
                    background-size: contain;
                    content: ' ';
                    position: absolute;
                    width: 0; 
                    height: 0; 
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent; 

                    border-right:7px solid #fff;
                    right: 100%;
                    top: 7px;
                }
            }
            .submit-wrap{
                a{
                    margin-top: 10px;
                    display:inline-block;
                    img{
                        max-width: 20px;
                        margin-right: 5px;
                    }
                    font-size: 12px;
                    color: #6c6c6c;
                    text-decoration: none;
                }
                .btn{
                    padding: 13px 20px;
                    background: #0094d9;
                    color: #fff;
                }
                background: #f5f4f4;
                padding: 5px 5px 5px 14px;
                overflow: hidden;
            }
        }
    }
}
#thumbcarousel{
    float:right;
    margin-right:20px;
    .thumb{
        max-width: 100px;
        height: auto;
    }
    .item{
        img {
            width: 100%;	
        }
        .thumb {
            cursor: pointer;
            float: left;
            img {
                width: 100%;
                max-width: 55px;
                margin-right: 10px;
            }
        }
    }
    .carousel-control{
        width: 20px;
    }
    .carousel-control.left{
        background-image: url("../img/discussion/arrow-left.png");
        background-repeat: no-repeat;
        background-size: 8px auto;
        left: -16px;
        top: 10px;
    }
    .carousel-control.right{
        background-image: url("../img/discussion/arrow-right.png");
        background-repeat: no-repeat;
        background-size: 8px auto;
        right: -17px;
        top: 10px;
    }
}

#comment-wrap{
    padding: 20px 0;
    margin-bottom:100px;
    &.no-comment{
        padding: 100px 0;
        text-align: center;
        .be-first-comment{
            color: #ffffff;
            font-size: 11px;
            background: #cfcdcd;
            border-radius: 50%;
            padding: 50px 0;
            width: 180px;
        }
        .no-comment-txt{
            color: #727272;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 25px;
            display: inline-block;
        }
    }
    &.with-comment{
        .nav-tabs{
            li{
                background: #f0f0f0;
                a{                        
                    border: 0 none;
                    font-size: 21px;
                    font-weight: 300;
                    color: #676565;
                    outline: none;
                }
                &.active{
                    background: #fff;                   
                }
            }
        }
        .tab-pane{
            background: #fff;
            padding: 15px;
        }
        article{
            border-bottom: 1px solid #ccc;
            clear: both;
            overflow: hidden;
            margin-top: 25px;
            padding-right: 15px;
            &:first-child{
                margin-top: 11px;
            }
            &:last-child{
                border-bottom: 0 none;
            }
        }
        .user-ifno-wrap{
            display: table;
            width: 100%;
            color: #676565;
            &>div{
                display: table-cell;
                vertical-align: middle;
            }
            .user-img{
                width:50px;
                img{
                    max-width: 37px;
                }
            }
            .name-wrap{
                .name{
                    font-size: 16px;
                    font-weight: 300;
                }
                .member-since{
                    font-size: 10px;
                    font-weight: 300;
                }
            }
            .post-time{
                width:70px;
                text-align: right;
                font-size: 10px;
            }
        }
        .user-comment-wrap{
            p{                
                font-size: 13px;
                color: #676565;
            }
            margin-top: 22px;
        }
        .comment-likes-wrap{
            font-size: 13px;
            color: #676565;
            margin: 15px 0;
            width: 70px;
            text-align: right;
        }
        .likes-up-down-wrap{
            span{
                margin-right: 20px;
                i{
                    cursor: pointer;
                    &:hover{
                        color: @blueColor;
                    }
                }
            }
        }
    }

    .with-slider{
        &>div{
            padding: 0;
        }
        p{
            margin-left: 15px;
        }
        .main-carousel{
            img{
                @media (max-width:767px){
                    width: 100%;
                }
            }
        }
    }
    .comment-thumb-slider-wrap{
        margin: 10px 0;
        overflow: hidden;
        .view-post{
            font-size: 10px;
            color: #676565;
            margin-top: 10px;
            a{
                color: #676565;
                text-decoration: none;
            }
        }
    }
    .comment-slider{
        float:right;
        margin-right:20px;
        .thumb{
            max-width: 100px;
            height: auto;
        }
        .item{
            img {
                width: 100%;	
            }
            .thumb {
                cursor: pointer;
                float: left;
                img {
                    width: 100%;
                    max-width: 55px;
                    margin-right: 10px;
                }
            }
        }
        .carousel-control{
            width: 20px;
        }
        .carousel-control.left{
            background-image: url("../img/comment/arrow-left.png");
            background-repeat: no-repeat;
            background-size: 8px auto;
            left: -16px;
            top: 10px;
        }
        .carousel-control.right{
            background-image: url("../img/comment/arrow-right.png");
            background-repeat: no-repeat;
            background-size: 8px auto;
            right: -17px;
            top: 10px;
        }
    }
}
.centerd {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
#profile-wrap{
    padding-top: 160px;
    padding-bottom: 40px;
    background: #282828;
    position:relative;
    @media (max-width: 767px) {
        padding-top: 20px;
    }
    .user-det-wrap{
        padding-right: 20px;
        .user-img{
            position: relative;
            img{
                max-width: 116px;
            }
            &:hover{
                .edit {
                    display: block;
                }
            }
            .edit{
                display: none;
                position: absolute;
                margin: auto;
                top: 0; left: 0; bottom: 0; right: 0;
                background: rgba(0,0,0,0.5);
                border-radius: 50%;                
                a{
                    position: absolute;
                    top: 45%;
                    left: 15px;
                    text-decoration: none;
                    font-size: 10px;
                    text-align: center;
                    color: @blueColor;
                    &:hover{
                        color: @blueColor;
                    }
                }
            }
        }
        .name-wrap{
            padding-left: 16px;
            padding-right: 30px;
            .name{
                color: #e8e6e6;
                font-size: 24px;
                font-weight: 300;
            }
            .join-date{
                color: #e8e6e6;
                font-size: 14px;
                font-weight: 300;
            }
            .social-wrap{
                margin-top: 12px;
                span{
                    display: inline-block;
                    margin-right: 36px;
                    color: #e8e6e6;
                    position:relative;
                    @media screen and (min-width:768px) and (max-width: 961px) {
                        &:last-child{
                            margin-top: 5px;
                        }
                    }
                    @media (max-width: 460px) {
                        &:last-child{
                            margin-top: 5px;
                        }
                    }
                    &.thumbs-up{
                        padding-left: 20px;
                        background: url('../img/profile/thumsup-icon.png') no-repeat center left;
                        background-size: 16px 18px;
                    }
                    &.comments{
                        padding-left: 30px;
                        background: url('../img/profile/comment-icon.png') no-repeat center left;
                        background-size: 25px 20px;
                    }
                    &.followers{
                        padding-left: 30px;
                        background: url('../img/profile/followers-icon.png') no-repeat center left;
                        background-size: 27px 21px;
                    }
                    &:after{
                        border-right: 1px solid #949494;
                        right: -18px;
                        top: 6px;
                        width: 1px;
                        height: 12px;
                        content: "";
                        margin-left: 15px;
                        position: absolute;
                    }
                    &:last-child{
                        &:after{
                            border: 0 none;
                        }
                    }
                }
            }
            .new-follow{
                border: 1px solid #0094d9;
                text-align: center;
                border-radius: 2px;
                padding: 7px 11px;
                color: #e8e6e6;
                font-size: 13px;
                font-weight: 300;                
                vertical-align: middle;
                margin-left: 25px;
            }
        }
        .user-desc{
            position: relative;
            p{
                color: #e8e6e6;
                font-size: 14px;
            }
            color: #e8e6e6;
            font-size: 14px;
            margin-top: 30px;
            font-weight: 300;
            &:hover{
                .edit {
                    display: block;
                }
            }
            .edit{
                display: none;
                position: absolute;
                right: -20px;
                top: -15px;
                width: 80px;
                a{
                    position: absolute;
                    text-decoration: none;
                    font-size: 10px;
                    text-align: center;
                    color: @blueColor;
                    &:hover{
                        color: @blueColor;
                    }
                }
            }
        }

        &:after{
            border-right: 1px solid #535353;
            right: 0;
            top: 20px;
            width: 1px;
            height: 230px;
            content: "";
            margin-left: 15px;
            position: absolute;
        }
    }
    #activity{
        color: #e8e6e6;
        @media (min-width: 768px) {            
            padding-left: 25px;
        }
        .title{
            font-size: 21px;
            font-weight: 300;
            color: #e8e6e6;
        }
        .activity-list{            
            overflow-y: scroll;
            max-height: 200px;
        }
        .activity-item{
            border-bottom: 1px solid #535353;
            padding: 10px 0;
            margin-right: 25px;
            &:last-child{
                border: 0 none;
            }
            .profile-icon{
                img{
                    max-width: 54px;
                    border-radius: 3px;
                }                
            }
            .text{
                font-size: 13px;
                font-weight: 300;
                margin-left: 10px;
            }
            .time{
                font-size: 10px;
                margin-left: 10px;
                font-weight: 300;
            }
            span{
                margin-right: 3px;
                color: #e8e6e6;
                &.post-title{
                    font-weight: 500;
                }
                &.favourited{
                    padding-left: 14px;
                    background: url('../img/profile/user-favourited.png') no-repeat center left;
                    background-size: 12px 11px;
                }
                &.commented{
                    padding-left: 14px;
                    background: url('../img/profile/user-commented.png') no-repeat center left;
                    background-size: 12px 10px;
                }
                &.followed{
                    padding-left: 13px;
                    background: url('../img/profile/user-followed.png') no-repeat center left;
                    background-size: 11px 12px;
                }
                &.time-before{
                    padding-left: 15px;
                    background: url('../img/profile/time-before.png') no-repeat center left;
                    background-size: 10px 10px;
                }
            }
            i{
                margin-right: 5px;
            }
        }
    }
}
#category-wrap-sec{
    margin-bottom: 50px;
}
#category-wrap{
    margin-top: 30px;
    li{
        display: inline-block;
        float: left;
        width: 25%;
        text-align: center;
        margin-bottom: 60px;
        position: relative;
        @media (max-width: 980px) {            
            width: 50%;
        }
        @media (max-width: 470px) {            
            width: 100%;
        }
        &:hover{
            background: #f0f0f0;
            .unfollow{
                display: inline-block;
            }                
        }
        img{
            max-width: 210px;            
            padding: 10px;
            border: 1px solid #dadada;
            border-radius: 50%;
            background: #fff;
            position: relative;
            z-index: 2000;

        }
        .title{
            position: absolute;
            left: 0;
            right: 0;
            top: 45%;
            color: #fff;
            font-size: 21px;
            z-index: 2500;
        }
        .unfollow{
            background: #f48120;
            bottom: -37px;
            display: none;
            left: 0;
            margin: 0 auto;
            padding: 35px 0 19px;
            position: absolute;
            right: 0;
            width: 126px;
            border-radius: 5px;
            z-index: 997;
            a{
                color: white;
                font-size: 12px;
                font-weight: 600;
                position: relative;
                text-decoration: none;
                top: 10px;
                span{
                    margin-right: 5px;
                }
            }
        }
    }
}
#upload-modal{
    /* layout.css Style */
    .upload-drop-zone {
        height: 200px;
        border-width: 2px;
        margin-bottom: 20px;
    }

    /* skin.css Style*/
    .upload-drop-zone {
        color: #ccc;
        border-style: dashed;
        border-color: #ccc;
        line-height: 200px;
        text-align: center
    }
    .upload-drop-zone.drop {
        color: #222;
        border-color: #222;
    }
    .modal-dialog{
        width: 80%;
    }
}