body {
    font-family: roboto;
    background-color: #f0f0f0;
}
.navbar-inverse {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.navbar-bg {
    background: #282828 none repeat scroll 0 0;
}
.jumbotron {
    padding: 79px 0 20px;
}
.container {
    padding-left: 50px;
    padding-right: 50px;
}
.btn-primary {
    background: #0094d9 none repeat scroll 0 0;
    border: medium none;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 16px;
}


/*  LOGO*/
.navbar-brand {
    float: left;
    font-size: 18px;
    height: auto;
    line-height: normal;
    margin: 10px 0 0 0 !important;
    max-width: 150px;
    padding: 0;
}

/*  MENU*/
.main-menu > li a {
    padding: 28px 18px !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
    font-size: 15px;
    padding: 23px 18px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
}
.navbar-right {
    float: right !important;
    margin-left: 42px;
    margin-right: 0;
}
.nav > li > a > img {
    border-radius: 100px;
    display: inline-block;
    height: 32px;
    margin-left: 10px;
    max-width: none;
    vertical-align: middle;
    width: 32px;
}

/*  SEARCH*/
.navbar-form {
    margin: 22px 18px;
    padding: 0;
    position: relative;
}
.navbar-form .form-control {
    max-width: 100%;
    padding-left: 52px;
    width: 334px;
}
.search-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    left: 12px;
    padding: 0;
    position: absolute;
    top: 7px;
}

/*  SORT AREA*/
.sort-area {
    background: rgba(255,255,255,.9);
}
.sort-by{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 34px;
}
.sort-link {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.sort-link > li {
    float: left;
    padding: 18px 0;
}
.sort-link > li a {
    color: #555555;
    font-size: 15px;
    padding: 0 0 0 34px;
    position: relative;
    cursor: pointer;
}
.sort-link > li.active a,
.sort-link > li a:hover,
.sort-link > li a:hover,
.sort-link > li a:hover {
    text-decoration: none;
    color: #0489c8;
}
.sort-link > li:first-child a {
    padding: 0;
}
.sort-link > li a:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 1px;
    background-color: #dadada;
    content: "";
}
.sort-link > li.active a:after {
    background-color: #f48120;
    bottom: -10px;
    content: "";
    height: 1px;
    left: 38px;
    position: absolute;
    right: 0;
}
.sort-link > li:first-child.active a:after {
    left: 0;
}

/*  UPLOAD AREA*/
.upload-area {
    display: inline-block;
    vertical-align: middle;
    float: right;
    position: relative;
    top: 7px;
    margin: 0 170px 0 0;
}
.upload-area > p {
    color: #7d7d7d;
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    margin: 8px 0 0 0;
    vertical-align: middle;
}
.upload-area .btn{
    background: url('../img/upload-btn.png') no-repeat;
    background-size: cover;
    width: 61px;
    height: 61px;
    position: relative;
    top: 15px;
    box-shadow: none;
}

/*  POST PANEL*/
.post-panel {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27);
    position: relative;
}
.post-image {
    overflow: hidden;
}
.post-image > img {
    width: 100%;
}
.panel-content {
    background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 5px 10px 12px 10px;
    position: absolute;
    width: 100%;
}
.panel-content h2 {
    margin: 0 0 12px 0;
    font-size: 12px;
    color: #414141;
    font-weight: 400;
}
.post-share > li{
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    color: #686868;
}
.post-share > li i {
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-top: -4px;
    vertical-align: middle;
}


/*  GRID*/
.posts-grid {
    margin: 0 3px;
}
.grid-sizer,
.grid-item { 
    width: 25%;
    padding: 0 4px 12px;
}

/*  MAIN FOOTER*/
.main-footer {
    background-color: rgba(53, 53, 53, 0.95);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    padding: 12px 0;
}
.site-map {
    margin: 0;
}
.site-map > li {
    display: inline-block;
    margin-right: 10px;
}
.site-map > li a{
    color: #efefef;
    font-size: 12px;
}
.site-map > li a:hover,
.site-map > li a:focus,
.site-map > li a:active {
    text-decoration: none;
    color: #0489c8;
}
.copyright {
    margin: 0;
    font-size: 12px;
    color: #efefef;
}

@media (min-width: 1600px) {
    .grid-sizer,
    .grid-item { 
        width: 25%;
    }
}
@media (max-width: 1199px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
    }
    .navbar-right {
        margin-left: 0;
    } 
    .main-menu > li a {
        padding: 28px 8px !important;
    }
}

@media (max-width: 991px) {
    .grid-sizer,
    .grid-item { 
        width: 33.33%;
    }
    .navbar-right {
        margin-left: 12px;
    }
    .navbar-brand {
        margin: 21px 0 0 !important;
        max-width: 110px;
    }
    .navbar-form .form-control {
        max-width: 100%;
        width: 260px;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding: 23px 10px;
    }
    .sort-link > li a {
        font-size: 13px;
        padding: 0 0 0 18px;
    }
    .upload-area > p {
        font-size: 17.5px;
    }
    .btn-primary {
        font-size: 13px;
        line-height: 27px;
        padding: 0 10px;
    }
    .upload-area {
        margin: 0 0 0 25px;
    }
}

@media (max-width: 767px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: relative;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-left: 0;
        margin-right: 0;
    }
    .jumbotron {
        margin-bottom: 40px;
        margin-top: -8px;
        padding: 0 0 20px;
    }
    .navbar-brand {
        margin: 10px 0 !important;
    }
    .navbar-toggle {
        margin-right: 0;
        margin-top: 11px;
    }
    .navbar-right {
        float: none !important;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding: 10px !important;
    }
    .navbar-form .form-group {
        margin: 10px auto;
    }
    .navbar-form .form-control {
        max-width: 100%;
        width: 100%;
    }
    .search-btn {
        top: 16px;
    }
    .grid-sizer,
    .grid-item { 
        width: 50%;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .upload-area {
        display: block;
        margin: 0 0 10px;
    }
    .sort-by {
        margin-right: 12px;
    }
    .sort-link > li a {
        font-size: 12px;
        padding: 0 0 0 12px;
    }
    .upload-area > p {
        font-size: 14px;
    }
    .site-map, .copyright {
        float: none !important;
        text-align: center;
    }
}
@media (max-width: 479px) {
    .grid-sizer,
    .grid-item { 
        width: 100%;
    }
}